---
BasedOnStyle: Google
AccessModifierOffset: -4
ColumnLimit: 100
IndentWidth: 4
Language: Cpp
TabWidth: 4
IncludeCategories:
  - Regex: ^<SFML/.*\.hpp>
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
